{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'baratico/inicio.css' %}" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'baratico:redirect-inicio' %}">Inicio
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'baratico:productos' %}">Productos
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias
              <br> </a>
          </li>
           <li class="nav-item">
              <a class="nav-link" href="{% url 'baratico:comprasResultado' %}"> Compras</a>
           </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-user fa-fw d-inline-block pull-right"></i>Chat
              <br> </a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'login' %}>Salir
                  <br> </a>
            </li>
        </ul>
        <form class="form-inline m-0" action="{% url 'baratico:resultados-busqueda' %}" method="get">
          <input class="form-control mr-2" type="text" placeholder="Buscar productos" name="barraBusqueda">
          <button class="btn btn-secondary" type="submit">Buscar
            <br> </button>
        </form>
      </div>
      <a href="{% url 'baratico:ver_carrito' %}" class="navbar-brand">&nbsp; &nbsp; &nbsp; &nbsp;
        <img src="{% static 'images/carrito.png' %}" class="d-inline-block align-top mx-auto" alt="" width="50"> </a>
    </div>
  </nav>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="">Carrito de Compra</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-2">
    <div class="container">
      <h3 class="">Productos en Carrito</h3>
    </div>
  </div>
  {% for producto in carrito_producto_list %}
  <div class="py-1" style="border:0.3px grey">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="/media/{{ producto.producto.imagen }}" class="img-fluid d-block bg-light mx-auto img-thumbnail"> </div>
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <a href="{% url 'baratico:detalle_producto' producto.producto.id %}"> {{ producto.producto.nombre }} </a>
            </div>
            <div class="card-body">
              <h4>Precio: ₡ {{ producto.producto.precio }}</h4>
              <h4>Cantidad: {{ producto.cantidad }}</h4>
              <form action="{% url 'baratico:eliminar_producto_carrito' producto.producto.id %}" method="post">
                  {% csrf_token %}
                <button class="btn btn-secondary border align-items-center btn-sm my-2 text-center" type="submit">Borrar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  <br>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="py-3" style="border:0.3px grey">
    <div class="container">
      <div class="row">
        <h3>No tiene productos agregados.</h3>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="py-2">
    <div class="container">
      <h3 class="">Ofertas en Carrito</h3>
    </div>
  </div>
  {% for oferta in carrito_oferta_list %}
  <div class="py-1" style="border:0.3px grey">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>OFERTA</h3>
        <div class="col-md-9">
          <div class="card">
            <div class="card-header">
              <a href="{% url 'baratico:detalle_producto' oferta.oferta.id %}"> {{  oferta.oferta.nombre }} </a>
            </div>
            <div class="card-body">
              <h4>Precio: ₡ {{ oferta.oferta.precio }}</h4>
              <h4>Cantidad: {{ oferta.cantidad }}</h4>
              <form>
                  {% csrf_token %}
                <button class="btn btn-secondary border align-items-center btn-sm my-2 text-center" type="submit">Borrar&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  <br>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% empty %}
  <div class="py-3" style="border:0.3px grey">
    <div class="container">
      <div class="row">
        <h3>No tiene ofertas agregadas.</h3>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="py-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 p-0">
          <p class="lead">Cantidad de productos: &nbsp;</p>
          <p class="lead">Total a pagar: ₡  {{ total }} &nbsp;</p>
          <a class="btn btn-secondary" href="#">PAGAR CARRITO
            <br> </a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>