<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css" type="text/css"> </head>

<body class="">
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Inicio
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Productos
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias
              <br> </a>
          </li>
           <li class="nav-item">
              <a class="nav-link" href="{% url 'baratico:comprasResultado' %}"> Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-user fa-fw d-inline-block pull-right"></i>Chat
              <br> </a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <input class="form-control mr-2" type="text" placeholder="search">
          <button class="btn btn-secondary" type="submit">Buscar
            <br> </button>
        </form>
      </div>
      <a class="navbar-brand" href="#">&nbsp; &nbsp; &nbsp; &nbsp;
        <img src="../../../OneDrive para la Empresa/shopping-cart-blue-300px.png" class="d-inline-block align-top mx-auto" alt="" width="50"> </a>
    </div>
  </nav>
  <div class="p-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="bg-secondary m-3">Chat
            <br> </h2>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
  <div class="chatbox bg-light">
    <div class="chatlogs">
      <div class="chat friend">
        <div class="user-photo">
          <img src="img/yordy.jpg"> </div>
        <p class="chat-message">Hola me pueden ayudar?
          <br> </p>
      </div>
      <div class="chat self">
        <div class="user-photo">
          <img src="../../../OneDrive para la Empresa/Image_1.png"> </div>
        <p class="chat-message">Me vale verga ... perro!!!</p>
      </div>
      <div class="chat self">
        <div class="user-photo">
          <img src="../../../OneDrive para la Empresa/Image_1.png"> </div>
        <p class="chat-message">Dime en que te podemos aiudar!!!</p>
      </div>
      <div class="chat friend">
        <div class="user-photo">
          <img src="img/yordy.jpg"> </div>
        <p class="chat-message">No me piquessss..... !!!!</p>
      </div>
    </div>
    <div class="chat-form"> <textarea></textarea>
      <button class="text-dark bg-secondary text-uppercase">Enviar</button>
    </div>
  </div>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>