{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'baratico/inicio.css' %}" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="{% url 'baratico:redirect-inicio' %}">Inicio
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'baratico:productos' 0 %}">Productos
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'baratico:ver_categorias' %}">Categorias
              <br> </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'baratico:comprasResultado' %}"> Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-user fa-fw d-inline-block pull-right"></i>Chat
              <br> </a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'login' %}>Salir
                  <br> </a>
            </li>
        </ul>
        <form class="form-inline m-0" action="{% url 'baratico:resultados-busqueda' %}" method="get">
            {% csrf_token %}
            <input class="form-control mr-2" type="text" placeholder="Buscar productos" name="barraBusqueda">
            <button class="btn btn-secondary" type="submit">Buscar <br> </button>
        </form>
      </div>
      <a href="{% url 'baratico:ver_carrito' %}" class="navbar-brand">&nbsp; &nbsp; &nbsp; &nbsp;
        <img  src="{% static 'images/carrito.png' %}" class="d-inline-block align-top mx-auto" alt="" width="50"> </a>
    </div>
  </nav>
  <div class="p-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-5 text-white bg-primary">Promociones
            <br> </h1>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
  <div class="p-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center mb-5 text-white bg-primary">Novedades
            <br> </h1>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>