

{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'baratico/login.css' %}" type="text/css" />
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white p-5 bg-primary">
            <div class="card-body">
              <img class="img-fluid d-block mx-auto img-thumbnail" src="{% static 'baratico/../../static/images/logo.png' %}" >
              <h1 class="mb-4 text-center">TIENDA EL BARATICO
                <br> </h1>
              <form method="post">
                  {% csrf_token %}
                <div class="form-group"> <label>Nombre de usuario:<br></label>
                  <input type="text" class="form-control" placeholder="Enter username" name="username"> </div>
                <div class="form-group"> <label>Contraseña:<br></label>
                  <input type="password" class="form-control" placeholder="Password" name="password"> </div>
                <button type="submit" class="btn btn-secondary">Login</button>
              </form>
              <p class="text-center">¿No posee cuenta?</p>
              <button type="submit" class="btn btn-secondary flex-column text-center">Registrarse
                <br class="w-25 h-25 m-0 p-0">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>