{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'baratico/inicio.css' %}" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Inicio
        <br> </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Productos
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias
              <br> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compras</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-user fa-fw d-inline-block pull-right"></i>Chat
              <br> </a>
          </li>
        </ul>
        <form class="form-inline m-0" action="{% url 'baratico:resultados-busqueda' %}" method="get">
            {% csrf_token %}
            <input class="form-control mr-2" type="text" placeholder="Buscar productos" name="barraBusqueda">
            <button class="btn btn-secondary" type="submit">Buscar <br> </button>
        </form>
      </div>
      <a class="navbar-brand" href="#">&nbsp; &nbsp; &nbsp; &nbsp;
        <img src="{% static 'images/carrito.png' %}" class="d-inline-block align-top mx-auto" alt="" width="50"> </a>
    </div>
  </nav>
  <div class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-5 order-2 order-md-1">
          <img class="img-fluid d-block bg-light mx-auto img-thumbnail" src="/media/{{ producto.imagen }}"> </div>
        <div class="col-md-6 order-1 order-md-2 offset-md-1">
          <h3>{{ producto.nombre }}</h3>
          <ul class="">
            <li class="py-2">{{ producto.descripcion }}</li>
            <li>Precio unitario: ₡ {{ producto.precio }}</li>
          </ul>
          <div class="row">
            <div class="col-md-12">
              <p class="lead">Comprar o añadir al carrito
                <br> </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <ul class="">
                <li class="m-0 p-2">Cantidad:&nbsp;
                  <br> </li>
                <input class="form-control mr-2 w-25" placeholder="1" min="1" type="number" max="{{ producto.cantidad }}">
                <button class="btn btn-secondary border align-items-center btn-sm my-2 text-center" type="submit">Añadir al carrito&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                  <br> </button>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-0 p-0">
    <div class="container">
      <div class="row py-2">
        <div class="col-md-4">
          <h5 class="text-primary">Añadir reseña sobre el producto
            <br> </h5>
        </div>
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-3">
                      <h5 class="my-2">Comentario:
                          <br>
                      </h5>

                  </div>
                  <div class="col-md-8 text-left">
                      <input class="form-control mr-2 my-4" type="text"> </div>
              </div>
              <div class="row">
                  <div class="col-md-3">
                      <h5 class="justify-content-start p-1">Puntuación:
                          <br>
                      </h5>
                  </div>
                  <div class="col-md-4">
                      <input class="form-control mr-2" min="1" type="number" max="10">
                  </div>
                  <div class="col-md-4">
                      <a href="#" class="btn justify-content-center align-items-end align-self-end btn-outline-secondary">Guardar
                          <br>
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:180px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>